Projects/zstack/Samples/SmartHome/CC2530DB/CoordinatorEB
Projects/zstack/Samples/SmartHome/CC2530DB/CoordinatorEB-Pro
Projects/zstack/Samples/SmartHome/CC2530DB/DemoEB
Projects/zstack/Samples/SmartHome/CC2530DB/EndDeviceEB
Projects/zstack/Samples/SmartHome/CC2530DB/EndDeviceEB-Pro
Projects/zstack/Samples/SmartHome/CC2530DB/RouterEB
Projects/zstack/Samples/SmartHome/CC2530DB/RouterEB-Pro
Projects/zstack/Samples/SmartHome/CC2530DB/settings
